//Basic Body Style
body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

//List Styles
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

//Themes
.light-theme {
  color: #000000;
  background: #00FF00;
}
